:root {
  --dark: #465f87;
  --light: #859ebb;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--dark);
  font-family: Goldman, "Source Sans Pro";
  font-size: 1.5rem;
  font-display: swap;
}
main {
  margin-top: 3rem;
  height: 100%;
  width: 100%;
}

.bottom-half {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 60%;
  background-color: var(--light);
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
  z-index: -1;
}

nav {
  padding: 15px 0 15px 15px;
  display: flex;
  justify-content: flex-end;
}

nav .fa-bars {
  display: none;
}

nav ul {
  width: 600px;
  background: #ff9;
  background: linear-gradient(#c3a817, yellow 100%);
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  list-style-type: none;
}

@media screen and (max-width: 430px) {
  nav ul {
    display: none;
  }
  nav .fa-bars {
    display: block;
  }
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
}

.welcome img {
  width: 300px;
  height: 300px;
  border-radius: 999px;
}

.welcome a {
  transform: translateY(-184px);
  color: black;
}

.triangle {
  width: 0;
  height: 0;
  border: 281px solid transparent;
  border-top: 230px solid #465f87;
  border-bottom: 0;
}

@media screen and (max-width: 431px) {
  .triangle {
    border: 141px solid transparent;
    border-top: 130px solid#465f87;
  }

  .welcome a {
    transform: translateY(-247px);
  }
}

