
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.frame-1-z1S {
  width: 100%;
  height: 84.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-1-NGt {
    width: 38.7rem;
    height: 54.6rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #465f87;
  }
  .rectangle-2-Fba {
    position: absolute;
    left: 0;
    top: 44.7rem;
    background-color: #93b5ce;
    border-radius: 3.3rem 3.3rem 0 0;
    width: 39rem;
    height: 39.7rem;
  }
  .i-am-a-future-web-and-software-developer-Yag {
    width: 26.5rem;
    height: 5.8rem;
    left: 5.9rem;
    top: 57.2rem;
    text-align: center;
    line-height: 1.2;
    color: #e3d282;
    font-family: Goldman, 'Source Sans Pro';
    position: absolute;
    font-size: 2.4rem;
    font-weight: 400;
  }
  .im-zakaria-itU {
    left: 9.3rem;
    top: 12.3rem;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
    height: 3.9rem;
    position: absolute;
    color: #ffffff;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    width: 20rem;
  }
  .ellipse-1-zqz {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 30rem;
    position: absolute;
    left: 4.5rem;
    top: 21.7rem;
    background-position: center;
    background-image: url('REPLACE_IMAGE:01dc955de23226e3aced7331290abbc27f51a47d');
    width: 30rem;
  }
  .hello-BJC {
    height: 2.9rem;
    line-height: 1.2;
    font-family: Goldman, 'Source Sans Pro';
    width: 7rem;
    position: absolute;
    left: 15.8rem;
    top: 7.5rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .rectangle-3-5eU {
    width: 1.5rem;
    height: 10.4rem;
    position: absolute;
    left: 30.3rem;
    top: 0;
    background-color: #a99038;
    border-radius: 0 0 0 3.9rem;
  }
  .rectangle-4-QAx {
    position: absolute;
    left: 31.8rem;
    top: 0;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #e3d282;
    border-radius: 0 0 3.9rem 0;
    width: 1.5rem;
    height: 10.4rem;
  }
  .polygon-1-iBe {
    vertical-align: top;
    width: 26.2rem;
    height: 7.6rem;
    position: absolute;
    left: 6.2rem;
    top: 68.1rem;
    object-fit: contain;
  }
  .read-more-2i8 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    width: 11.9rem;
    position: absolute;
    left: 13.4rem;
    top: 70.7rem;
    height: 2.4rem;
    text-align: center;
    color: #ffffff;
    font-family: Goldman, 'Source Sans Pro';
  }
}
