
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.mobile-screen-VVW {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 84.4rem;

  .background-darkblue-skx {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #465f87;
    width: 39rem;
    height: 54.6rem;
  }
  .background-bottom-MAL {
    background-color: #93b5ce;
    border-radius: 3.3rem 3.3rem 0 0;
    width: 39rem;
    height: 39.7rem;
    position: absolute;
    left: 0;
    top: 44.7rem;
  }
  .i-am-a-future-web-and-software-developer-1kg {
    width: 28rem;
    height: 5.8rem;
    position: absolute;
    text-align: center;
    line-height: 1.2;
    left: 5.1rem;
    top: 57.2rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #e3d282;
    font-family: Goldman, 'Source Sans Pro';
  }
  .im-zakaria-f4Y {
    left: 9.3rem;
    top: 12.3rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    width: 20rem;
    height: 3.9rem;
    position: absolute;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 3.2rem;
    color: #ffffff;
  }
  .photo-ellipse-vmA {
    width: 30rem;
    height: 30rem;
    top: 21.7rem;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:01dc955de23226e3aced7331290abbc27f51a47d');
    border-radius: 15rem;
    position: absolute;
    left: 4.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-position: center;
  }
  .hello-8uA {
    height: 2.9rem;
    top: 7.5rem;
    font-size: 2.4rem;
    line-height: 1.2;
    color: #ffffff;
    width: 7rem;
    left: 15.8rem;
    font-weight: 400;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .read-more-button-dqv {
    height: 7.6rem;
    position: absolute;
    left: 6.2rem;
    top: 68.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 26.2rem;
  }
  .contact-me-kfe {
    color: #ffffff;
    width: 13.2rem;
    height: 2.4rem;
    left: 12.7rem;
    font-size: 2rem;
    line-height: 1.2;
    white-space: nowrap;
    position: absolute;
    top: 70.1rem;
    text-align: center;
    font-weight: 700;
    font-family: Goldman, 'Source Sans Pro';
  }
  .rectangle-1-fGp {
    width: 36rem;
    height: 1.5rem;
    position: absolute;
    left: 3rem;
    top: 0.9rem;
    background-color: #f2eb97;
    border-radius: 3.9rem 0 0 0;
  }
  .rectangle-2-ikt {
    width: 36rem;
    height: 1.5rem;
    position: absolute;
    left: 3rem;
    top: 2rem;
    background-color: #bdaa3e;
    border-radius: 0 0 0 3.9rem;
  }
  .home-444 {
    font-family: Goldman, 'Source Sans Pro';
    width: 6.3rem;
    left: 4.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    height: 2.4rem;
    position: absolute;
    top: 0.9rem;
    line-height: 1.2;
    white-space: nowrap;
  }
  .about-xv8 {
    color: #ffffff;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    left: 12.3rem;
    top: 0.9rem;
    text-align: center;
    width: 6.8rem;
    height: 2.4rem;
    position: absolute;
  }
  .skills-4yA {
    line-height: 1.2;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.3rem;
    top: 0.9rem;
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    height: 2.4rem;
    position: absolute;
    left: 20.6rem;
    text-align: center;
  }
  .projects-awW {
    position: absolute;
    font-weight: 700;
    font-family: Goldman, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.7rem;
    height: 2.4rem;
    left: 28.4rem;
    top: 0.9rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    color: #ffffff;
  }
  .ellipse-1-V2t {
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    left: 1.4rem;
    top: 77.6rem;
    background-color: #bdaa3e;
    border-radius: 2.25rem;
  }
  .icon-github-cNQ {
    object-fit: contain;
    vertical-align: top;
    width: 2.7168rem;
    height: 3rem;
    position: absolute;
    left: 2.2rem;
    top: 78.4rem;
  }
  .ellipse-2-Wig {
    border-radius: 2.25rem;
    width: 4.5rem;
    height: 4.5rem;
    position: absolute;
    left: 6.3rem;
    top: 77.6rem;
    background-color: #bdaa3e;
  }
  .icon-linkedin-Dd6 {
    vertical-align: top;
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 7rem;
    top: 78.4rem;
    object-fit: contain;
  }
}
